snippet mysql
	provider "mysql" {
		endpoint = "${1}"
		username = "${2}"
	}
snippet r_mysql_database
	resource "mysql_database" "${1}" {
		name = "${2}"
	}
snippet r_mysql_grant
	resource "mysql_grant" "${1}" {
		database = "${2}"
	}
snippet r_mysql_role
	resource "mysql_role" "${1}" {
		name = "${2}"
	}
snippet r_mysql_user
	resource "mysql_user" "${1}" {
		user = "${2}"
	}
snippet r_mysql_user_password
	resource "mysql_user_password" "${1}" {
		pgp_key = "${2}"
		user = "${3}"
	}
