snippet terraform
	provider "terraform" {
		
	}
snippet r_terraform_remote_state
	resource "terraform_remote_state" "${1}" {
		backend = "${2}"
	}
snippet d_terraform_remote_state
	data "terraform_remote_state" "${1}" {
		backend = "${2}"
	}
